.advantages {
	/* padding-top: 94px; */
	padding-top: 60px;
	padding-bottom: 0;

	@include for-size(desktop) {
		padding-top: 94px;
	}
	.title {
		margin-top: 0;
		margin-bottom: 10px;
		font-family: Roboto, sans-serif;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: $title-text-color;
	}
}
.advantages-list {
	display: flex;
	flex-wrap: wrap;

	& p {
		margin-top: 0;
		margin-bottom: 0;
		font-family: Roboto, sans-serif;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.03em;
		color: $primary-text-color;
	}
}

.advantages-list-item {
	width: 270px;

	&:not(:last-child) {
		margin-right: 30px;
	}

	&:before {
		margin-bottom: 30px;
		display: block;
		content: "";
		height: 120px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 100px 25px;
		border-radius: 4px;
		background-color: $secondary-background-color;
	}
}

.antenna::before {
	background-image: url(/images/antenna.svg);
}

.clock::before {
	background-image: url(/images/clock.svg);
}

.diagram::before {
	background-image: url(/images/diagram.svg);
}

.astronaut::before {
	background-image: url(/images/astronaut.svg);
}
