.advantages {
	padding-top: 60px;
	padding-bottom: 94px;

	@include for-size(desktop) {
		padding-top: 94px;
	}

	.title {
		margin-top: 0;
		margin-bottom: 10px;
		font-family: Roboto, sans-serif;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.03em;
		text-align: left;
		text-transform: uppercase;
		color: $title-text-color;

		@media screen and (max-width: 768px) {
			text-align: center;
		}
	}
}

.advantages-list {
	display: block;

	@include for-size(desktop) {
		display: flex;
		flex-wrap: wrap;
	}

	@include for-size(tablet-landscape) {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
	}

	& p {
		margin-top: 0;
		margin-bottom: 0;
		font-family: Roboto, sans-serif;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.03em;
		color: $primary-text-color;
	}
}

.advantages-list-item {
	max-width: 450px;
	margin-right: 0;

	@include for-size(tablet-landscape) {
		width: calc((100% - 4 * 15px) / 2);
		margin: 15px;
	}

	@include for-size(desktop) {
		max-width: 270px;
	}

	&:not(:last-child) {
		@media screen and (max-width: 767px) {
			margin-bottom: 30px;
		}
	}

	.img-advantages {
		margin-bottom: 30px;
		background-color: $secondary-background-color;

		@media screen and (max-width: 767px) {
			width: 100%;
			height: 120px;
			padding: 25px 190px;
		}

		@include for-size(tablet-landscape) {
			width: 354px;
			height: 120px;
			padding: 25px 142px;
		}

		@include for-size(desktop) {
			width: 270px;
			height: 120px;
			padding: 25px 100px;
		}
	}
}
