.clients-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.client-link {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	border: 1px solid $border-color;
	border-radius: 4px;
	width: 170px;
	height: 90px;
	background-color: $white;
	transition-duration: 250ms;
	transition-timing-function: $timing-function;

	&:hover,
	&:focus {
		transition-duration: 250ms;
		transition-timing-function: $timing-function;
		border-color: $accent-color;

		.img-clients-icon,
		.img-clients-icon {
			transition-duration: 250ms;
			transition-timing-function: $timing-function;
			fill: $accent-color;
		}
	}
}

.img-clients-icon {
	fill: #afb1b8;
	transition-duration: 250ms;
	transition-timing-function: $timing-function;
}
