.footer {
	padding-bottom: 60px;
	background-color: $footer-background-color;

	@include for-size(desktop) {
		padding-top: 94px;
	}

	.order-link {
		min-width: 200px;
	}
}
.container-footer {
	@include for-size(tablet-landscape) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: baseline;
	}
	@media screen and (max-width: 1199px) {
		padding-top: 60px;
	}
	@media sreen and (min-width: 480px) {
		text-align: center;
	}

	@include for-size(desktop) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.footer-box {
	text-align: center;
}
.address-physical {
	margin-top: 0;
	margin-bottom: 9px;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: $white;
}

address .link {
	margin-bottom: 8px;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	text-decoration: none;
	color: $white-1;
}
.mail-link {
	margin-bottom: 9px;
}

.networks {
	display: flex;
	justify-content: center;
	margin-bottom: 60px;

	@include for-size(tablet-landscape) {
		margin-bottom: 0;
	}
}

.text-footer {
	text-align: center;
	margin-top: 0;
	margin-bottom: 20px;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $white;
}

.logo-footer {
	margin-bottom: 20px;
}

.address {
	margin-bottom: 60px;

	@include for-size(tablet-landscape) {
		margin-bottom: 0;
	}
}

.form-field-footer input {
	margin-bottom: 20px;
	padding-left: 16px;
	width: 100%;
	height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
}

.footer-form {
	text-align: center;

	@include for-size(tablet-landscape) {
		padding-top: 60px;
		margin-left: auto;
		margin-right: auto;
	}

	@include for-size(desktop) {
		margin-left: 0px;
		margin-right: 0px;
	}
}

.footer-contacts {
	@media screen and (max-width: 767px) {
		text-align: center;
	}
}
