.team-item {
	width: 270px;
	padding-bottom: 30px;
	background-color: $white;
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

	&:before {
		margin-bottom: 30px;
		content: "";
		display: block;
		height: 260px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
}

.team-member {
	margin-top: 0;
	margin-bottom: 10px;
	font-family: Roboto, sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: $title-text-color;
}

.member {
	display: flex;
	justify-content: space-between;

	&-title {
		margin-top: 0;
		margin-bottom: 50px;
		font-family: Roboto, sans-serif;
		font-weight: 700;
		font-size: 36px;
		line-height: 1.16;
		text-align: center;
		letter-spacing: 0.03em;
		color: $title-text-color;
	}

	&-description {
		margin-top: 0;
		margin-bottom: 16px;
		font-size: 16px;
		line-height: 1.19;
		text-align: center;
		letter-spacing: 0.03em;
		color: $primary-text-color;
	}
}

.designer::before {
	background-image: url(../images/product-designer.jpg);
}

.developer::before {
	background-image: url(/images/frontend-developer.jpg);
}

.marketing::before {
	background-image: url(/images/marketing.jpg);
}

.uidesigner::before {
	background-image: url(/images/ui-designer.jpg);
}
