.current-link::after {
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	top: 0;
	bottom: -1px;
	opacity: 1;
	background-color: $accent-color;
}

.contact-item {
	margin-right: 10px;
	fill: $primary-text-color;

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		margin-bottom: 10px;
	}
}

.main-nav {
	padding-top: 24px;
	display: flex;
	align-items: center;
}

.auth-nav {

     display: flex;
	margin-left: auto; 
 
	@media screen and (max-width: 767px) {
		display: none;
	}


	@include for-size(desktop) {
		display: flex;
		
		
		
	}
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		display: flex;
		flex-direction: column;
		align-items: left;
	}

	.link {
		font-family: Roboto, sans-serif;
		font-weight: 500;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.02em;
		text-decoration: none;
		color: $primary-text-color;
		transition-duration: 250ms;
		transition-timing-function: $timing-function;

		&:hover,
		&:focus {
			transition-duration: 250ms;
			transition-timing-function: $timing-function;
			color: $accent-color;
		}
	}
	.item {
		display: flex;
		justify-content: center;
		align-items: center;

		& + .item {
			display: flex;
			margin-left: 30px;


			@include for-size(tablet-landscape) {
				margin-left: 0;
			}
			@include for-size(desktop) {
				margin-left: 30px;
			}
		}
	}
}

.site-nav {
	display: flex;
	margin-left: 85px;

	.link {
		display: block;
		padding-top: 32px;
		padding-bottom: 28px;
		font-family: Roboto, sans-serif;
		font-weight: 500;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.02em;
		color: $title-text-color;
		text-decoration: none;
		transition-duration: 250ms;
		transition-timing-function: $timing-function;

		&:hover,
		&:focus {
			transition-duration: 250ms;
			transition-timing-function: $timing-function;
			color: $accent-color;
		}
	}
	.item:not(:last-child) {
		margin-right: 50px;
	}

	@media screen and (max-width: 767px) {
		display: none;
	}
}

.menu-button {
	display: inline-block;
	margin: 0;
	padding: 0;
	border: none;
	

& .icon-cross {
	display: none;
}

&.is-open .icon-cross {
	display: block;
}

&.is-open .icon-menu {
	display: none;
}

@media screen and (min-width: 768px) {
	display: none;
}
}


.menu-container {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: tomato;
	padding: 20px;
	text-align: center;
	font-size: 20px;

	&.is-open {
		display: block;
	}
}
	
.container.main-nav {
	@media screen and (max-width: 767px) {
		position: relative;
		display: flex;
		justify-content: space-between;
		}
		
	}
